.main-header {
    background: $pattern-gray;
    height: 72px;
    overflow: hidden;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-header {
    width: 55%;

    ul {
        display: flex;
        justify-content: space-between;
        height: 72px;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: none;
        font-family: $pattern-font-family;
        padding: 0 10px;
    }

    li:hover {
        display: flex;
        align-items: center;
        background: $pattern-dark-gray;
        height: 70px;
        @include orange-top-boder;
    }
}

.hamburger-icon{
    display: none;
}

@media (max-width: $pattern-break-page) {
    .nav-header {
        width: 60%;    

        li {
            font-size: 12px;
        }
    }
}

@media (max-width: $pattern-break-device) {

    .main-header {
        height: auto;
    }

    .flex-header {
        flex-direction: column;
    }

    .nav-header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        ul {
            flex-direction: column;
            flex-basis: 100%;
        }

        a {
            text-align: center;
        }

        li {
            width: 100%;
            text-align: center;
            font-size: 14px;
        }

        li:hover {
            flex-direction: column;
            justify-content: space-around;
            height:auto;
        }

        .nav-header-ul {            
            display: none;
            height: auto;
        }
    }

    .hamburger-icon {
        display: block;
        height: 30px;
        width: 34px;
        border: 0;
        background: url(../img/Hamburger_icon.svg);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }
    .hamburger-icon:focus{
        outline: none;
    }
}  

@media (max-width: 300px) {
    .header-imgs {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}