.section1-principal-img {
    height: 419px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
        width: 100%;
    }
}

.section1-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 367px;
    color: rgba($color: #FFF, $alpha: .8);

    h2 {
        font-size: 2.5rem;
        padding: 20px 0;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    h1 {
        font-size: 3.5rem;
        width: 27rem;
        padding: 20px 0;
        margin: 0 auto;
        border-top: solid rgba($color: #FFF, $alpha: .5);
        border-bottom: solid rgba($color: #FFF, $alpha: .5);
        font-family: $pattern-font-family;
    }
}

.section1-article {
    width: 22%;
}