.section-main {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
   
    h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: $pattern-light-gray;
    }

    h4{
        font-size: .8rem;
        font-weight: bold;
        padding-left: .5rem;
    }

    h6{
        color: $pattern-orange;        
        font-size: .7rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    p {
        overflow: hidden;
        font-size: .7rem;
        line-height: 1rem;
        margin: 2rem 0;
        color: $pattern-light-gray;
        text-justify: distribute-all-lines;
    }
}

@media (max-width: $pattern-break-device){
    .section-main{
        flex-direction: column;
        align-items: center;

        h3{
            text-align: center;}
    }
}